---
import BaseLayout from '../layouts/BaseLayout.astro';
import DashboardView from '../components/DashboardView.astro';
---

<BaseLayout title="Digital Wilderness | The Frame">
    <main class="min-h-screen p-8 pt-32 pb-24">
        <DashboardView />
    </main>
</BaseLayout>


